.accept {
    color: rgb(0, 128, 0);
}

.presentation-error {
    color: rgb(255, 165, 0)
}

.waiting,
.running {
    color: rgb(128, 128, 256);
}

.wrong-answer,
.time-limit-exceeded,
.memory-limit-exceeded,
.output-limit-exceeded,
.runtime-error,
.system-error {
    color: red;
}

.compile-error {
    color: rgb(102, 51, 255);
}