.global-nav {
    position: relative;
    background: #222E2A;
    color: white;
}

.global-nav .nav {
    padding: 15px;
    color: #008E59;
    font-size: 25px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.content-center {
    text-align: center;
}

.main-nav {
    font-size: 20px;
    padding-top: 20px;
}

.main-nav table {
    margin-bottom: 0;
}
.main-nav hr {
    margin-top: 5px;
    margin-bottom: 5px;
}

.user-info {
    font-size: 15px;
    vertical-align: middle;
    line-height: 35px;
}

a {
    color:#008E59;
}