.language-container {
    margin-bottom: 20px;
}

.text-code {
    width: 100%;
    min-height: 500px;
    outline: none;
    resize: none;
    tab-size: 4;
    padding: 6px 12px;
    margin-bottom: 15px;
    display: none;
}

.CodeMirror {
    height: 500px;
}