{% extends "common/framework.twig" %}
{% block title %}
    Error - {{ globalTitle }}
{% endblock %}
{% block contents %}
    <div class="container content-center" style="margin-top: 50px">
        <div class="center">
            {{ message }}
        </div>
    </div>
{% endblock %}