<div class="global-nav">
    <div class="container nav">
        SegmentFault Online Judge
    </div>

</div>
<nav class="container main-nav">
    <table class="table">
        <tr align="center">
            <td width="50%"><a href="/">Problems</a></td>
            <td width="50%"><a href="/status/index">Status</a></td>
        </tr>
    </table>
</nav>