<div class="global-nav">
    <div class="container nav">
        <span>SegmentFault Online Judge</span>
        <div class="pull-right user-info">
            {% if sessionUser %}
                欢迎您, <a href="/user/logout">{{ sessionUser.username }}</a>
            {% else %}
                <a href="/user/login">登陆</a>
                <span>·</span>
                <a href="/user/register">注册</a>
            {% endif %}
        </div>
    </div>


</div>
<nav class="container main-nav">
    <table class="table">
        <tr align="center">
            <td width="50%"><a href="/">Problems</a></td>
            <td width="50%"><a href="/status/index">Status</a></td>
        </tr>
    </table>
    <hr />
</nav>