{% extends "common/framework.twig" %}

{% block stylesheet %}
    <link rel="stylesheet" href="/static/main/css/problem/submit.css" />
{% endblock %}

{% block title %}
    {{ problem.title }} - {{ globalTitle }}
{% endblock %}

{% block contents %}
    <form action="/problem/{{ problem.id }}/submit" method="post">
    <div class="container">
        <div class="content-center h1">{{ problem.title }}</div>
        <div class="language-container">
            <label for="language">Language</label>
            <select id="language" name="language">
                <option value="c">C</option>
                <option value="cpp">C++</option>
                <option value="javascript">javascript</option>
                <option value="java" disabled>java</option>
            </select>
        </div>
        <textarea name="code" class="text-code"></textarea>
        <div class="content-center">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
    </form>
{% endblock %}