.table {
    border-collapse: initial;
    border-spacing: 2px;
}

.table .title {
    vertical-align: middle;
    text-align: center;
}

.table .result {
    color: white;
    vertical-align: middle;
    text-align: center;
}

.resolved {
    background: green;
}

.attempted {
    background: red;
}

.first {
    background: #43CD80;
}

.table thead td {
    background: #008E59;
    color: white;
}

.table thead td a {
    color: white;
    text-decoration: none;
}